{%- assign diamond_str_array = product.metafields.my_fields.diamond_info | split: "," -%}
{%- assign diamond_infos = "" | split: ','   -%}
{% for diamond_str in diamond_str_array %}
	{%- assign diamond_info = diamond_str | split: "/" -%}
	
	{%- assign diamond_total_weight = diamond_total_weight | plus : diamond_info[4] -%}
	{%- assign diamond_total_count = diamond_total_count | plus : diamond_info[2] -%}
	{%- assign diamond_total_weight_gram = diamond_total_weight | times : 0.2 | round : 2 -%}
	{%- assign solitaire_total_weight_gram = product.metafields.my_fields.solitaire_weight | times : 0.2 | round : 2 -%}
{% endfor %}

{%- assign purity = variant.metafields.DI-GoldPrice.variant_additional_details.purity -%}
{% if purity == '18K' %}
	{%- assign gold_price = shop.metafields.DI-GoldPrice.addtional_shop_settings.gold_price_18k -%}
{% endif %}
{% if purity == '22K' %}
  {%- assign gold_price = shop.metafields.DI-GoldPrice.addtional_shop_settings.gold_price_22k -%}
{% endif %}
{% if purity == '24K' %}
  {%- assign gold_price = shop.metafields.DI-GoldPrice.addtional_shop_settings.gold_price_24k -%}
{% endif %}
{% if purity == '14K' %}
  {%- assign gold_price = shop.metafields.DI-GoldPrice.addtional_shop_settings.gold_price_14k -%}
{% endif %}
{% if variant.metafields.DI-GoldPrice.variant_additional_details.metal_type == 'silver' %}
	{%- assign gold_price = shop.metafields.DI-GoldPrice.addtional_shop_settings.silver_price -%}
{% endif %}
{% if variant.metafields.DI-GoldPrice.variant_additional_details.metal_type == 'platinum' %}
	{%- assign gold_price = shop.metafields.DI-GoldPrice.addtional_shop_settings.platinum_price -%}
{% endif %}

{%- assign gold_total = gold_price | times : variant.metafields.DI-GoldPrice.variant_additional_details.metal_weight | times : 100 -%}
{%- assign diamond_total = variant.metafields.DI-GoldPrice.variant_additional_details.diamond_charges | times : 100 -%}
{%- assign solitaire_total = variant.metafields.DI-GoldPrice.variant_additional_details.stone_charges | times : 100 -%}

{%- assign total_charges = gold_total | times : variant.metafields.DI-GoldPrice.variant_additional_details.making_charges | divided_by: 100 | round : 3 -%}
{%- assign discount_making_charge = 0 -%}
{% if shop.metafields.DI-GoldPrice.addtional_shop_settings.making_charges_discount != null %}
	{%- assign discount_making_charge = shop.metafields.DI-GoldPrice.addtional_shop_settings.making_charges_discount -%}
{% endif %}

{%- assign discount_charges = gold_total | times : discount_making_charge | divided_by: 100 | round : 3 -%}

{%- assign making_charges = total_charges | minus : discount_charges -%}
{%- assign gst = variant.price | minus : making_charges | minus : gold_total | minus : diamond_total | minus : solitaire_total | round : 3 -%}

<div class="row">
  
  <div id="details-middle">
    <div id="details-middle-left-inner">
      <div id="item-details">
        <section id="section-item-details">
          <h2 class="title">Product Details</h2>
          <div class="content" style="display: none;"> 
            <dl> 
              <dt>Product Code</dt> 

              <dd class="last" id="detail-product-code">{{variant.sku}}</dd> 
            </dl> 
            <dl> 
              <dt>Height</dt> 
			  {%- assign current_product_height = product.metafields.my_fields.product_height -%}
              <dd class="last">{{current_product_height | round : 2}} mm</dd> 
            </dl> 
            <dl> 
              <dt>Width</dt> 
			  {%- assign current_product_width = product.metafields.my_fields.product_width -%}
              <dd class="last">{{current_product_width | round : 2}} mm</dd> 
            </dl> 
            <dl> 
              <dt>Product Weight (Approx)</dt> 
              <dd class="last" id="product_total_weight">{{diamond_total_weight_gram | plus : variant.metafields.DI-GoldPrice.variant_additional_details.metal_weight | plus : solitaire_total_weight_gram}} Gram</dd> 
            </dl> 
          </div>
        </section>
        <section id="preSetSolitaire-details">
          <h2 class="title expanded">
            Solitaire Details   
          </h2>
          <div class="panel"> 
            <dl> 
              <dt>Total Weight</dt> 

              <dd class="last" id="preSetSolitaireCarat">{{product.metafields.my_fields.solitaire_weight}} Ct</dd> 
            </dl> 
            <dl> 
              <dt>Total No. of Solitaires</dt>

              <dd class="last" id="preSetSolitaireCount">{{product.metafields.my_fields.solitaire_no}}</dd> 
            </dl> 
            <dl> 
              <dt>Shape</dt> 

              <dd class="last" id="preSetSolitaireShape">{{product.metafields.my_fields.solitaire_shape}}</dd> 
            </dl> 
            <dl> 
              <dt>Clarity</dt> 
              <dd class="last" id="preSetSolitaireClarity">{{product.metafields.my_fields.solitaire_clarity}}</dd> 
            </dl>
            <dl> 
              <dt>Color</dt> 
              <dd class="last" id="preSetSolitaireColor">{{product.metafields.my_fields.solitaire_color}}</dd> 
            </dl> 
            <dl> 
              <dt>Cut-Polish-Symmetry</dt> 
              <dd class="last" id="preSetSolitairePolish">{{product.metafields.my_fields.solitaire_cut_polish_symmetry}}</dd> 
            </dl>  
          </div>

        </section>
        <section id="stone-details" class="detail-with-diamond">
          <h2 class="title expanded">
            DIAMOND DETAILS  
          </h2>
          <div class="panel-fix">
            <dl> 
              <dt>Total Weight</dt>

              <dd class="last" id="diamond_total_weight">{{diamond_total_weight}} Ct</dd> 
            </dl> 
            <dl> 
              <dt>Total No. Of Diamonds</dt> 
              <dd class="last" id="diamond_total_count">{{diamond_total_count}}</dd> 
            </dl> 
          </div>

          <div class="panel"> 
            <table>
              <tbody id="diamond_info_tbody">
                <tr>
                  <td class="title">Clarity</td>
                  {% for diamond_str in diamond_str_array %}
                  	{%- assign diamond_info = diamond_str | split: "/" -%}
                  	<td class="">{{diamond_info[0]}}</td>
                  {% endfor %}
                  
                </tr>
                <tr>
                  <td class="title">Color</td>
                  {% for diamond_str in diamond_str_array %}
                  	{%- assign diamond_info = diamond_str | split: "/" -%}
                  	<td class="">{{diamond_info[1]}}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <td class="title">No. Of Diamonds</td>
                  {% for diamond_str in diamond_str_array %}
                  	{%- assign diamond_info = diamond_str | split: "/" -%}
                  	<td class="">{{diamond_info[2]}}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <td class="title">Shape</td>
                  {% for diamond_str in diamond_str_array %}
                  	{%- assign diamond_info = diamond_str | split: "/" -%}
                  	<td class="">{{diamond_info[3]}}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <td class="title">Total Weight</td>
                  {% for diamond_str in diamond_str_array %}
                  	{%- assign diamond_info = diamond_str | split: "/" -%}
                  	<td class="">{{diamond_info[4] | round:3}} carats</td>
                  {% endfor %}
                </tr>
                <tr>
                  <td class="title">Setting Type</td>
                  {% for diamond_str in diamond_str_array %}
                  	{%- assign diamond_info = diamond_str | split: "/" -%}
                  	<td class="">{{diamond_info[5]}}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>

        </section>
        <section id="metal-details">
          <h2 class="title expanded">
            METAL DETAILS  
          </h2>
          <div class="panel"> 
            <dl> 
              <dt>Type</dt> 
              <dd class="last" id="metal_total_type">{{variant.metafields.DI-GoldPrice.variant_additional_details.metal_type}} {{variant.metafields.DI-GoldPrice.variant_additional_details.purity}}</dd> 
            </dl> 
            <dl> 
              <dt>Weight(Approx)</dt> 
              <dd class="last" id="metal_total_weight">{{variant.metafields.DI-GoldPrice.variant_additional_details.metal_weight | round : 2}} Gram</dd> 
            </dl> 
          </div>

        </section>
        <section id="section-price-breakup">
          <h2 class="title expanded">
            PRICE BREAKUP  
          </h2>

          <div class="panel"> 
            <dl> 
              <dt>Gold</dt> 
              
              <dd class="last" id="price_total_gold">{{gold_total | money }}</dd> 
            </dl> 
            <dl> 
              <dt>Diamond</dt> 
              
              <dd class="last" id="price_total_diamond">{{diamond_total | money}}</dd> 
            </dl> 
            <dl> 
              <dt>Solitaire</dt> 
              <dd class="last" id="price_total_solitaire">{{solitaire_total | money }}</dd> 
            </dl> 
            <dl> 
              <dt>
                {% if discount_making_charge != 0 and shop.metafields.DI-GoldPrice.addtional_shop_settings.show_discounted_prices %}
                {{100 | minus :discount_making_charge}}% 
              	{% endif %}
                Making Charge
              </dt> 
              <dd class="last">
               
                <span id="price_total_charge">{{making_charges | money}}</span>
                {% if discount_making_charge != 0 and shop.metafields.DI-GoldPrice.addtional_shop_settings.show_discounted_prices %}
                / 
                <span class="discount_charge line-through">{{total_charges | money}}</span> 
              	{% endif %}
              </dd>
            </dl>
            <dl> 
              <dt>GST</dt> 
              <dd class="last" id="price_gst">{{gst | money }}</dd> 
            </dl> 
            
            <dl> 
              <dt>Total</dt> 
              <dd class="last">
                {% if discount_making_charge != 0 and shop.metafields.DI-GoldPrice.addtional_shop_settings.show_discounted_prices %}
                <span class="original_total line-through">{{variant.price | plus : discount_charges | money}}</span> / 
                {% endif %}
                <span id="price_total">{{variant.price | money}}</span>
              </dd> 
            </dl> 
            
          </div>

        </section>
        <section id="section-price-breakup">
          <h2 class="title expanded">
            TAGS  
          </h2>
          <div class="panel"> 
            <p class="tags-list">
              {% for tag in product.tags %}
              <a href="/collections/all/{{ tag | handleize }}">
                <span clsas="el-icon-tag">{{ tag }}</span>
              </a>
              {% endfor %}
            </p>
          </div>

        </section>

      </div>
    </div>
  </div>
</div>
<style>
    
    #details-middle{
      width:100%;
    }
    #details-middle #details-middle-left-inner {
        background-color: white;
        border: 1px solid #f0f0f0;
        padding: 8px 16px 16px 16px;
        font-family: Muli,Arial,sans-serif;
    }
    #details-middle #item-details section {
        margin-bottom: 1px;
    }
    #details-middle h2.title {
        background: #f9f9f9;
        border-top: 1px solid #d1d1d1;
        color: black;
        font-size: 15px;
        line-height: 21px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: .1em;
        margin: 0;
        padding: 8px 8px 5px 8px;
        text-transform: uppercase;
    }
    #details-middle #section-item-details h2.title {
        background: 0;
        color: black;
        border: 0;
    }
    #details-middle #item-details #section-item-details .content {
      display: block!important;
      height: 100%!important;
      border-top: 0;
      overflow: hidden;
  	}
    #details-middle dl {
        clear: both;
        overflow: hidden;
        border-bottom: 1px solid #f0f0f0;
        margin: 0;
        color: #4476b2;
        padding: 3px 8px 5px 8px;
        font-family: Muli,Arial,sans-serif;
        font-size: 12px;
        line-height: 18px;
        line-height: 19px;
    }
    dl dt {
        width: 50%;
        float: left;
        font-weight: 500;
    }
    #details-middle dl dd {
        text-align: right;
        letter-spacing: 1px;
      	margin-bottom:0;
    }
    #details-middle dl dd, #details-middle dl dt {
        width: 50%;
        float: left;
        font-weight: 500;
    }
    #details-middle h2.title i {
        float: right;
        font-size: 13px;
        margin-right: 17px;
        padding-top: 2px;
        color: #4a4a4a;
    }
    

    #details-middle h2.expanded:after {
      content: '\002B';
        color: #777;
        float: right;
        margin-right: 5px;
        font-size: 19px;
        font-weight: 400;
        color: black;
    }

    #details-middle h2.active:after {
      content: "\2212";
    }

    #details-middle #item-details section div.panel {
   
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  #details-middle table{
    margin-bottom: 0 !important;
  }
  
  	#details-middle table td {
      border: none;
      border-top: 1px solid #f0f0f0;
      color: #4476b2;
      padding: 3px 8px 5px 8px;
      font-family: Muli,Arial,sans-serif;
      font-size: 12px;
      line-height: 18px;
      line-height: 19px;
  	}
    #details-middle table tr>td:last-child {
      text-align: right;
    }
</style>
<script src="{{ 'jquery.min.js' | asset_url }}"></script>
{% unless product == empty %}
    <script type="application/json" id="ProductJson-{{ section.id }}">
        {{ product | json }}
    </script>
{% endunless %}

<script>
  var acc = $('#item-details section h2.expanded');
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");

      if($(this).next().hasClass('panel')){
        var panel = this.nextElementSibling;
      }else{
        var panel = this.nextElementSibling.nextElementSibling;
      }

      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
  
  //param : array
  //return : variant ID
  var getVariantByOption = function(options) {
    var json_product = {{ product | json }};
    for(var i = 0; i < json_product.variants.length; i++){
      
		var flag = true;
        for(var j = 0; j < options.length; j++){
          if(json_product.variants[i].options[options[j].index - 1] != options[j].value){
            flag = false;
          }
        }
        if(flag){
         return json_product.variants[i];
        
        }
    }
    return null;
    
  }
  
  //param : product variant ID
  //return : product variant metafields data of selected variant
  var variantMetaData = function(variantID) {

    var variants = {};
    {% for variant in product.variants %}
 
      variants[{{variant.id}}] = {{ variant.metafields.my_fields | json }};
    {% endfor %}
     return variants[variantID];
  }
  
  //retrn product metafields
  var productMetaData = function() {
    var metaData = {{ product.metafields.my_fields | json }};
    return metaData;
  }
  
  //param : selected variant ID
  //return : gold price editor app metadata of selected variant
  var variantGoldData = function(variantID) {

    var variants = {};
    {% for variant in product.variants %}
 
      variants[{{variant.id}}] = {{ variant.metafields.DI-GoldPrice.variant_additional_details | json }};
    {% endfor %}
     return variants[variantID];
  }
  
  //param : selected variant ID
  //return : gold price editor app goldData
  var variantShopData = function(variantID) {
    var variants = {};
    variants = {{shop.metafields.DI-GoldPrice.addtional_shop_settings | json }};
    
     return variants;
  }
  
  var updateProductDetail = function(variantData,metaData,goldData,shopData) {
    //product code update
    $('#detail-product-code').text(variantData.sku);
    
    //product total weight
    var diamond_info_str = metaData.diamond_info.split(",");
    var diamond_infos = [];
    for(var i = 0; i < diamond_info_str.length; i++) {
      var diamond_detail = diamond_info_str[i].split("/");
      var info_temp = {};
      if(diamond_detail.length == 6){
        info_temp.no = diamond_detail[2];
        info_temp.shape = diamond_detail[3];
        info_temp.weight = diamond_detail[4];
        info_temp.type = diamond_detail[5];
        info_temp.clarity = diamond_detail[0];
        info_temp.color = diamond_detail[1];
        
        diamond_infos.push(info_temp);
      }
    
    }
    
    
    var diamond_total_weight = diamond_infos.reduce((no,current) => {
      return no + parseFloat(current.weight);
  	},0);
    diamond_total_weight = diamond_total_weight.toFixed(3);
    
    var diamond_total_no = diamond_infos.reduce((no,current) => {
      return no + parseInt(current.no);
  	},0);

    var product_weight = goldData.metal_weight + metaData.solitaire_weight * 0.2 + parseFloat(diamond_total_weight)*0.2;
    $('#product_total_weight').text(product_weight.toFixed(2) + ' Gram');
    
    //solitaire update
    $('#preSetSolitaireCarat').text(metaData.solitaire_weight+ ' Ct');
    $('#preSetSolitaireCount').text(metaData.solitaire_no);
    $('#preSetSolitaireShape').text(metaData.solitaire_shape);
    $('#preSetSolitaireClarity').text(metaData.solitaire_clarity);
    $('#preSetSolitaireColor').text(metaData.solitaire_color);
    $('#preSetSolitairePolish').text(metaData.solitaire_cut_polish_symmetry);
    
    //Diamond update
    $('#diamond_total_weight').text(diamond_total_weight + ' Ct');
    $('#diamond_total_count').text(diamond_total_no);
    $('#diamond_info_tbody').html('');
    var diamond_detail_html = '<tr><td class="title">Clarity</td>';
    var clarity_html = "";
    var color_html = "";
    var diamond_no_html = "";
    var shape_html = "";
    var weight_html = '';
    var type_html = '';
    for(var i = 0; i < diamond_infos.length; i++) {
      clarity_html += "<td>"+ diamond_infos[i].clarity + "</td>";
      color_html += "<td>"+ diamond_infos[i].color + "</td>";
      diamond_no_html += "<td>" + diamond_infos[i].no + "</td>";
      shape_html += "<td>" + diamond_infos[i].shape + "</td>";
      weight_html += "<td>" + diamond_infos[i].weight + " carats</td>";
      type_html += "<td>" + diamond_infos[i].type + "</td>";
      
    }
    
    diamond_detail_html += clarity_html + "</tr><tr><td class='title'>Color</td>" + color_html + "</tr><tr><td class='title'>No. Of Diamonds</td>" + diamond_no_html + "</tr><tr><td class='title'>Shape</td>" + shape_html + "</tr><tr><td class='title'>Total Weight</td>" + weight_html + "</tr><tr><td class='title'>Setting Type</td>" + type_html + "</tr>"; 
    $('#diamond_info_tbody').html(diamond_detail_html);
    
    //metal update
    $('#metal_total_type').text(goldData.metal_type + ' ' + goldData.purity);
    $('#metal_total_weight').text(goldData.metal_weight + ' ' + 'Gram');
    
    //price update
    var product_purity = goldData.purity;
    var price_total_gold = 0;
    switch(product_purity) {
      case "14K":
        price_total_gold = parseFloat(goldData.metal_weight) * shopData.gold_price_14k;
        break;
      case "18K":
        price_total_gold = parseFloat(goldData.metal_weight) * shopData.gold_price_18k;
        break;
      case "22K":
        price_total_gold = parseFloat(goldData.metal_weight) * shopData.gold_price_22k;
        break;
      case "24K":
        price_total_gold = parseFloat(goldData.metal_weight) * shopData.gold_price_24k;
        break;
    }
    if(goldData.metal_type == 'silver'){
      price_total_gold = parseFloat(goldData.metal_weight) * shopData.silver_price;
    }
    if(goldData.metal_type == 'platinum'){
      price_total_gold = parseFloat(goldData.metal_weight) * shopData.platinum_price;
    }
    $('#price_total_gold').text(price_total_gold.toLocaleString('en-US', {
      style: 'currency',
      currency: 'USD',
    }));
    $('#price_total_diamond').text(goldData.diamond_charges.toLocaleString('en-US', {
      style: 'currency',
      currency: 'USD',
    }));
    $('#price_total_solitaire').text(goldData.stone_charges.toLocaleString('en-US', {
      style: 'currency',
      currency: 'USD',
    }));
    
    var total_charges = (price_total_gold * goldData.making_charges / 100);
    var discount_making_charge = 0;
    if(shopData.making_charges_discount != null) {
      discount_making_charge = shopData.making_charges_discount;
    }
    var discount_charges = price_total_gold * discount_making_charge / 100;
    var making_charges = total_charges - discount_charges;
    
    var gst = parseFloat(variantData.price) / 100 - price_total_gold - parseFloat(goldData.diamond_charges) - parseFloat(goldData.stone_charges) - making_charges;
    $('#price_total_charge').text(making_charges.toLocaleString('en-US', {
      style: 'currency',
      currency: 'USD',
    }));
    $('#price_total').text((parseFloat(variantData.price) / 100).toLocaleString('en-US', {
      style: 'currency',
      currency: 'USD',
    }));
    $('#price_gst').text(gst.toLocaleString('en-US', {
      style: 'currency',
      currency: 'USD',
    }));
    
    $('span.original_total').text((parseFloat(variantData.price) / 100 + discount_charges).toLocaleString('en-US', {
      style: 'currency',
      currency: 'USD',
    }));
    $('span.discount_charge').text(total_charges.toLocaleString('en-US', {
      style: 'currency',
      currency: 'USD',
    }));
    
  }
  
  $('.dropdown-swatch').change(function(){
    var options = [];
    
   
    $('li.dropdown-swatch').each(function(index){
      
      var selectedValues = {};
      
      if($(this).find('input')[0].checked){
        
        selectedValues.index = $($(this).find('input')[0]).data('index2');
        selectedValues.value = $($(this).find('input')[0]).val();
        options.push(selectedValues);
      }
    })
    
    var variantData = getVariantByOption(options);
    //var metaData = variantMetaData(variantData.id);
    var metaData = productMetaData();
    var goldData = variantGoldData(variantData.id);
    var shopData = variantShopData(variantData.id);
    console.log(shopData);
    updateProductDetail(variantData,metaData,goldData,shopData);
  })

</script>